// test

label:hover {
    cursor: pointer;
    opacity: 1;
}

input:checked+label {
    opacity: 1;
}

label {
    position: relative;
    margin-right: .6rem;
    opacity: .8;
}

label::before {
    display: inline-block;
    content: "";
    width: .16rem;
    height: .16rem;
    border-radius: 50%;
    border: .01rem solid #E8F5C8;
    margin-right: .2rem;
    vertical-align: bottom;
}

input {
    display: none;
    margin-right: .1rem;
}

input:checked+label::before {
    background-color: #5e69c2;
}

input:checked+label::after {
    display: inline-block;
    content: "";
    width: .06rem;
    height: .06rem;
    border-radius: 50%;
    position: absolute;
    left: .06rem;
    bottom: .06rem;
    background-color: #E8F5C8;
}

.head {
    position: relative;
    height: 1rem;
    top: .1rem;
    border-radius: .4rem;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: .02rem .02rem .02rem .02rem rgba(0, 0, 0, 0.1);
}

.head span {
    position: absolute;
    bottom: .1rem;
    right: .5rem;
    font-size: .12rem;
    font-weight: bold;
    color: #50516e;
}

.subject {
    font-size: .20rem;
    font-weight: bold;
    line-height: .4rem;
    padding-left: .1rem;
    margin-left: .2rem;
}

.body-test {
    margin-top: .4rem;
}

.test-title {
    display: block;
    font-size: .18rem;
    font-weight: bold;
    margin-left: .2rem;
}
.test {
    font-size: .18rem;
    margin-left: .4rem;
}