.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: .6rem;
    font-size: .3rem;
    font-weight: 700;
    line-height: .6rem;
    background-color: #fff;
    z-index: 999;
}

.nav {
    position: fixed;
    top: .6rem;
    left: 0;
    right: 0;
    height: .4rem;
    font-size: .2rem;
    color: #fff;
    background: linear-gradient(to right, #0C7BB3, #F2BAE8);
    z-index: 999;
}

.nav a {
    display: inline-block;
    height: .3rem;
    margin: .05rem .2rem 0 0;
    font-size: .18rem;
    font-weight: 700;
    color: #00779a;
    line-height: .3rem;
    transition: all 0.5s;
}

.nav a:hover {
    color: #faa51b;
}

.current {
    border-radius: .1rem;
    padding: 0 0.04rem 0 0.04rem;
    background-color: #edeff0;
}

.btn-over {
    position: fixed;
    left: 50%;
    bottom: .6rem;
    transform: translateX(-50%);
    display: inline-block;
    width: 2.8rem;
    height: .5rem;
    font-size: .14rem;
    border: none;
    box-shadow: .02rem .02rem .02rem .02rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #aaaaaa;
    z-index: 999;
}

.btn-over:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}